In [7]:
import pandas as pd

df = pd.read_csv("datos.csv")

print(df)

    nombre   apellido  edad
0  William     Xepeda    59
1  Ricardo     Cepeda    31
2   Carlos  Astudillo    18

In [8]:
df.head

<bound method NDFrame.head of     nombre   apellido  edad
0  William     Xepeda    59
1  Ricardo     Cepeda    31
2   Carlos  Astudillo    18>

In [10]:
df.tail(1)

   nombre   apellido  edad
2  Carlos  Astudillo    18

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   nombre    3 non-null      object
 1   apellido  3 non-null      object
 2   edad      3 non-null      int64
dtypes: int64(1), object(2)
memory usage: 204.0+ bytes

In [13]:
df.describe()

            edad
count   3.000000
mean   36.000000
std    20.952327
min    18.000000
25%    24.500000
50%    31.000000
75%    45.000000
max    59.000000

In [16]:
df.shape

(3, 3)

In [18]:
# accediendo a elemento especifico loc
print(df.loc[2,"edad"])

18

In [19]:
# accediendo a elemento especifico iloc
print(df.iloc[2,2])

18

In [28]:
# accediendo a elemento especifico iloc
print(df.iloc[:2])

    nombre apellido  edad
0  William   Xepeda    59
1  Ricardo   Cepeda    31

In [30]:
# accediendo a elemento especifico iloc
print(df.iloc[1:3])

    nombre   apellido  edad
1  Ricardo     Cepeda    31
2   Carlos  Astudillo    18

In [33]:
# accediendo a elemento especifico iloc
print(df.iloc[:2,1])

0    Xepeda
1    Cepeda
Name: apellido, dtype: object